<div><%= link_to "Leave Lobby", root_path %></div>

<div>Game ID: <strong><%= @game.id %></strong></div>
<div>Number of players: <strong><%= @game.players.count %></strong></div>
<div>Host: <strong><%= @game.host.username %></strong></div>